<div class="container flex">
  <app-animated-logo class="logo"></app-animated-logo>
  <div class="content">
    <h1>Julian Gegner</h1>
    <h2>Full Stack Developer</h2>
    <div class="icon-container">
      <a id="mail-icon" href="mailto:j.gegner@proton.me">
        <ng-icon name="iconoirMail" [size]="'24px'"></ng-icon>
      </a>
      <a id="github-icon" href="https://github.com/crondung" target="_blank">
        <ng-icon name="iconoirGithub" [size]="'24px'"></ng-icon>
      </a>
      <a
        id="linkedin-icon"
        href="https://www.linkedin.com/in/julian-gegner-86aba5291/"
        target="_blank"
      >
        <ng-icon name="iconoirLinkedin" [size]="'24px'"></ng-icon>
      </a>
    </div>
  </div>
</div>
