<div class="hero">
  <svg
    class="triangle"
    viewBox="0 0 110 110"
    xmlns="http://www.w3.org/2000/svg"
  >
    <polygon
      id="triangle-down"
      points="5,5 55,105 105,5"
      fill="none"
      stroke="blue"
      stroke-width="3"
    />
  </svg>
  <svg
    class="triangle"
    viewBox="0 0 110 110"
    xmlns="http://www.w3.org/2000/svg"
  >
    <polygon
      id="triangle-up"
      points="5,105 55,5 105,105"
      fill="none"
      stroke="blue"
      stroke-width="3"
    />
  </svg>
</div>
