<!-- first draft
<mat-toolbar color="primary">
  <img src="assets/triangle-logo.svg" alt="Logo" class="logo" />
  <span class="example-spacer"></span>
  <span class="nav-item">Home</span>
  <span class="nav-item">Über mich</span>
  <span class="nav-item">Projekte</span>
  <span class="nav-item">Kontakt</span>
</mat-toolbar>
<app-hero></app-hero>
<div class="hero-text">
  <h1>I BIMS</h1>
  <h2>der Julian</h2>
</div>
 -->
<div class="main-container">
  <app-business-card></app-business-card>
</div>
